// List of classes:

// Buttons:
//     .btn--default
//     .btn--success
//     .btn--error
//     .btn--warning
//     .btn--info
//     .theme__colors


.btn {
    @include bg-colors($ui-colors);
}


[class^="btn--"] {
  @extend %block-element;
  @extend %center-element;
  @extend %full-width;
  border: 0;
  color: $white;
  border-radius : $br--default;

  font-size : em(14px);
  font-weight: $font-weight--medium;
  text-transform: uppercase;

  margin-bottom: 25px;
  padding: 15px 30px;
  @include mq(medium) {
    width: auto;
  }
}

