// List of classes:

// Buttons:
//     .btn--default
//     .btn--success
//     .btn--error
//     .btn--warning
//     .btn--info
//     .theme__colors


.btn {
    @include bg-colors($ui-colors);
}


[class^="btn--"] {
  @extend %block-element;
  @extend %center-element;
  @extend %full-width;
  border: 0;
  color: $white;
  border-radius : $br--default;

  font-size : em(14px);
  font-weight: $font-weight--medium;
  text-transform: uppercase;

  margin-bottom: 25px;
  padding: 15px 30px;
  @media (min-width:769px) {
    width: auto;
  }
}

// @media (min-width:769px) {
//   [class^="btn--"] + [class^="btn--"] {
//   margin-top: em(-5px);
//   }
// }



// [class^="btn--"] {
//   @extend %center-align;
//   @extend %btn;
//   margin-bottom: em(20px, 14px);
//   @media (min-width: 1px) and (max-width: 768px) {
//     width: 100%;
//   }
//   @media (min-width: 769px) {
//     width: auto;
//     display: inline-block;
//     @include doubly(20px);
//   }
// }