// List of classes:

// Buttons:
//     .btn--default
//     .btn--success
//     .btn--error
//     .btn--warning
//     .btn--info
//     .theme__colors


.btn {
    @include bg-colors($ui-colors);
}


[class^="btn--"] {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  margin: 5px;
}





// [class^="btn--"] {
//   @extend %center-align;
//   @extend %btn;
//   margin-bottom: em(20px, 14px);
//   @media (min-width: 1px) and (max-width: 768px) {
//     width: 100%;
//   }
//   @media (min-width: 769px) {
//     width: auto;
//     display: inline-block;
//     @include doubly(20px);
//   }
// }