// // List of classes

// //     Forms:
// //     .form
// //     .form__label--hidden
// //     .form__input


// // ==========================================================================
// // Form Elements
// // ==========================================================================


// .form__label {
//         display:block;
//         margin-bottom: em(10px);
//     }



.form {
    // @extend %hdln-sec;
    @include e(label) {
        display: block;
        margin-bottom: em(10px);
        @include m(hidden) {
            @extend .srt;
        }
    }

    @include e(input) {
        @extend %full-width;
        font-size: em(14px);
        margin-bottom: em(20px, 14px);
        margin-top: em(20px);
        border: 0;
        border-bottom: 6px solid $viking;
        color: palette(black, light);
        font-weight: $font-weight--medium;
        font-family: $font-family--secondary;
        padding-left: em(15px);
        padding-bottom: em(15px);

        &:focus {
            border-color: $color-primary;
        }
    }
}

@media (min-width:769px){
    .form__input + .btn--default {
        width: 100%;
    }
}