// List of classes used:

// Image:
//     .img--logo
//     .img--frame
//     .img--avatar

// Logo--probably not needed

// .site-logo {
//     @include img-replace("logo.svg", 115px, 45px, inline-block);
// }


.img {
  @include m(logo) {
    @extend %base-img;
    padding-top: 1em;
  }
  @include m(avatar) {
    @extend %base-img;
  }
  @include m(frame) {
    @extend %base-img;
    border: 1px solid palette(gray, x-light);
    padding: em(10px);
    // max-width: 95%;
  }
}
