// List of classes used

//     Typography:
//     .container
//     .link
//     .blockquote
//     .headline--primary
//     .headline--secondary


// ==========================================================================
// Headlines
// ==========================================================================

.headline {
    &--primary {
        @extend %hdln-prim;
        }
    &--secondary {
         @extend %hdln-sec;
         margin-bottom: em(20px);
     }

}


.blockquote {
@extend %center-element;
font-size: em(24px);
font-style: italic;
font-weight: $font-weight--light;
color: palette(grey, dark);
border-left: em(5px) solid $color-primary;
border-radius: $br--default;
width: 80%;
margin-bottom: em(32px, 24px);
padding-left: em(15px);
}

.link {
 @extend %link-style;
    }