// /*In your placeholder partial, create placeholders for at least the following:
// Links
// Images
// Headlines
// Nav items*/

// // %panel-default {
// //   padding-top: em(30px);
// //   padding-bottom: em(20px);
// // }

// // %panel-padding {
// //   padding-top: em(80px);
// //   padding-bottom: em(34px);
// // }

// // ==========================================================================
// // Placeholders
// // ==========================================================================

// // Nav Items

%nav-item-disp {
//  display: block;
  margin: em(12px);
  @extend %center-align;

}
%nav-item-link {
  color: $grey;
  font-size: em(18px);
  font-weight: $font-weight--light;
  display: block;
  padding: em(8px, 18px);
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

%nav-item-on {
  color: $white;
 // border-color: $color-primary;
  background-color: $viking;
  border-radius: 5%;

}

// Headlines

%hdln-prim {
  color: $color-primary;
  font-weight: $font-weight--bold;
  font-size: em(32px);
  line-height: 1.3em;
  margin-top: 0;
  margin-left: 20px;
  padding-right: 2em;
  font-family: $font-family--primary;
}

%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(18px);
//  font-family: $font-family--secondary;
}

// Buttons

%btn {
 // width: 40px;
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}




// ==========================================================================
// Helpers
// ==========================================================================

// Center elements



// Center alignment

%center-align {
    text-align: center;
}

