// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-url--google        : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Descriptive Base Colors
$white    : #fff;
$black    : #0b0b0b;
$gray     : #797e83;
$viking   : #5fe0c1; //used for nav, header text, accents; this will be $color-prim

//Descriptive Button colors
$malibu: #59ddfa; //used for login btn, default
$emerald: #67cb85; //success btn
$sunglo: #e2767c; //error
$persimmon: #fd6c4c; //warning
$purple-mntn-majesty: #927dbf; //info button

// Button map UI Colors
$ui-colors: (
    default : $malibu,
    success : $emerald,
    error   : $sunglo,
    warning : $persimmon,
    info    : $purple-mntn-majesty
);

//Descriptive Grid colors
$riptide         : #75e5cb;//  col12
$pelorous        : #37a1c3;// col6
$malibu          : #73e2fd;//col4
$biloba-flower   : #d9a9eb; //col3
$vista-blue      : #7dd496;//col5
$sea-pink        : #e99499; //col7
$vivid-tangerine : #fd947a; //col8

//Grid map

$col-colors: (
    '12' : $riptide,
    '6'  : $pelorous,
    '4'  : $malibu,
    '3'  : $biloba-flower,
    '5'  : $vista-blue,
    '7'  : $sea-pink,
    '8'  : $vivid-tangerine
);


// Color Usage
$color-primary   : $viking;
$color-secondary : $malibu;
$color-accent    : $emerald;
$color-shadow    : rgba($black, .2);


//Color Palette Modifiers
$palettes: (
    gray: (
        xx-light : lighten($gray, 43%),
        x-light  : lighten($gray, 35%),
      light      : lighten($gray, 12%),
      base       : $gray,
        dark     : darken($gray, 8%),
        x-dark   : darken($gray, 16%),
    ),
    black: (
        light    : lighten($black, 10%),
        base     : $black,
        dark     : darken($black, 10%),
        x-dark   : darken($black, 25%),
    )
);


// Border radius

$br--default    : .4em;
$br--round      : 50%;



// Grid
$g-col-width    : 50px;
$g-gutter-width : 10px;
$g-col-count    : 12;
$g-cont-max-w : 1100px;


//MQ map
$breakpoints: (
    tablet  : 768px,
    desktop : 1200px,
);


