/*In your base folder, include a normalize.css file and create a base.scss file. In the base.scss file, you can only apply styles to three different elements directly:
the universal selector (*)
ul elements
p elements*/

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%
}


p {
    margin: 0 0 em(30px, 18px);
    font-weight: $font-weight--light;
    font-size: em(18px);
    line-height: (27px/18px);
    & a {
        text-decoration: none;
        color: $malibu;
        font-weight: $font-weight--bold;
    }

}
